#profile-pic-menu-background {
    background-color:#1E9485;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}



#profile-pic-view {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 50%;
}

#single-pic {
    width: 20%;
}
